[Service]
ExecStart=
ExecStart=/usr/bin/dockerd -H unix:///var/run/docker.sock -H tcp://0.0.0.0:2376 {% if docker.bridge %}--bip={{ docker.bridge }}{% endif %} --insecure-registry piensg017.ensg.eu:5000